.TextCard {
    padding: 30px 25px;
    box-shadow: 0 4px 20px rgba(darken($mint, 15%), 0.22);
    border-radius: 8px;
    background: var(--backgroundSecondary);
    width: 340px;
    text-align: center;

    @include whenDark {
        box-shadow: 0 4px 20px rgba(#000, 0.5);
    }

    & + & {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.TextCard__Title {
margin-top: 0;
color: var(--foregroundSecondary);
}

.TextCard__Body {
line-height: 1.4;
color: var(--foregroundPrimary);
}