<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171554853932-2sk9ojchu4vs741um87l9v2a1116ck6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171554853932-2sk9ojchu4vs741um87l9v2a1116ck6k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171554853932-6ni3e0vuj3t89csite9bvsnb9arp47ef.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_WTqFa2ASum49zRpAiBoKUcVerG7s5xA</string>
	<key>GCM_SENDER_ID</key>
	<string>171554853932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.beljaby-RN</string>
	<key>PROJECT_ID</key>
	<string>beljabi-34d09</string>
	<key>STORAGE_BUCKET</key>
	<string>beljabi-34d09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171554853932:ios:89cd4a1d69422496f1ed89</string>
</dict>
</plist>